<!DOCTYPE html>
<html>
<head>
    <title>Create user site</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="login-page">
        <div class="form">

    <table class="register-form">
        <label for="create">Create a user</label><br>
        <br>
        <input type="text" id="usernameid" placeholder="Username"/>
        <input type="password" id="passwordid" placeholder="Password"/>
        <input type="text" id="firstnameid" placeholder="Firstname"/>
        <input type="text" id="lastnameid" placeholder="Lastname"/>
        <input type="number" id="ageid" placeholder="Age"/>
        <input type="text" id="genderid" placeholder="Gender"/>
        <input type="text" id="interestid" placeholder="Interest"/>
        <input type="submit" id="submituser" value="Submit" onclick= "validate()"/> 
            <a href="login.html">Or Log In Here</a>
        </p>
    </table>  

</div>
</div>
    <div id=message></div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Model/users.js"></script>
<script src="../Controller/create.js"></script>
</html>