<!DOCTYPE html>
<html>
<head>
    <title>Date</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <button id='swipe' onclick="swipeUsers()">Find your first potentiel match</button>
    <button id="getFullProfile" onclick= "getFullProfile()">More about this user</button>

    <p id="noMoreUsers"></p>
    <p id="displayFirstname"></p>
    <p id="displayInterest"></p>
    <p id="displayUsername"></p>
    <p id="displayLastname"></p>
    <p id="displayAge"></p>
    <p id="displayGender"></p>

<br>
<br>
<br>


<br>
<br>
<br>


<button id='like' onclick="likeUser()">Like</button>
<button id='dislike' onclick="swipeUsers()">Dislike</button>

<br>
<br>
<br>

<button id="showmatches" onclick= "showMatches()">Show your matches!</button>

<br>
<br>
<br>

<table id="myTableData">
    <tr>
        <td>&nbsp;</td>
        <td><b>Name</b></td>
        <td><b>Interest</b></td>
    </tr>
</table>
&nbsp;
 
</div>

<br>
<br>
<br>

<button id="backToProfile" onclick="location.href = 'profile.html'">Go back to your profile</button>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../Controller/date.js"></script>
</html>